<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer con dos bloques contenedores</title>
    <link rel="stylesheet" type="text/css" href=css\footer.css>
</head>
<body>
    <!-- footer -->
    <footer class="main-footer">
        <div class="footer__section">
            <h2 class="footer__title">Sobre nosotros</h2>
            <p class="footer__txt">¡Bienvenido a Aventuras Sin Fin! Somos tu puerta de entrada a un mundo de emocionantes experiencias y viajes inolvidables. En Aventuras Sin Fin, creemos que cada viaje es una oportunidad para descubrir, aprender y crecer. Nuestra misión es brindarte destinos fascinantes, guías expertos y servicios excepcionales para que vivas las mejores aventuras de tu vida.</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Ubicacion:</h2>
            <p class="footer__txt">Calle Viajeros Intrépidos, N° 123 Capital Federal</p>
            <h2 class="footer__title">Contacto</h2>
            <p class="footer__txt">Celular : +54 9 11345-67890</p>
            <p class="footer__txt">Email : info@aventurassinfin.com</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Enlaces rapidos</h2>
            <a href="#" class="footer__link">Vuelos</a>
            <a href="#" class="footer__link">Hoteles</a>
            <a href="#" class="footer__link">Alquileres</a>
            <a href="#" class="footer__link">Paquetes</a>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Suscríbete a nuestras ofertas</h2>
            <p class="footer__txt">Al suscribirse a nuestra lista de correo, siempre recibirá nuestras últimas noticias y actualizaciones.</p>
            <input type="email" class="footer__input" placeholder="Ingrese email">
        </div>
        <p class="copy">© Aventuras Sin Fin. Todos los derechos reservados</p>
    </footer>
</body>
</html>