<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer con dos bloques contenedores</title>
    <link rel="stylesheet" type="text/css" href=css\footer.css>
</head>
<body>
    <footer class="footer__footer">

        <div class="footer__container--naranja">
            <div class="footer__hours">
                <span>Atención al cliente: 0800-xxx</span>
                <span>Horario: Lunes a Viernes de 9 a 18 hs.</span>
                    <span>Sábado de 9 a 13 hs.</span>
            </div>

            <hr class="footer__separator">
            <nav class="footer__footer__nav--menu footer__menu-center">
                <ul>
                    <li><a class="footer__link" href="/Aventura sin Fin">Aventura sin fin</a></li>
                    <li><a class="footer__link" href="/sobre-nosotros">sobre nosotros</a></li>
                    <li><a class="footer__link" href="/contacto">contacto</a></li>
                    <li><a class="footer__link" href="/legales">legales</a></li>
                </ul>

            </nav>
        </div>
        
        <div class="footer__container--azul">
            <div class="footer__box">
                <div class="footer__logo-container">
                    <img src="/img/logoLetrasBlancaModPixeles.png" alt="Logo" class="footer__logo-image">
                </div>
            </div>
            <div class="footer__box">
                <nav class="footer__footer__nav--vertical">

                    <ul>
                        <li><a class="footer__link" href="/condiciones-generales">condiciones generales</a></li>
                        <li><a class="footer__link" href="/politica-de-privacidad">politica de privacidad</a></li>
                        <li><a class="footer__link" href="/politica-de-seguridad">politica de seguridad</a></li>
                        <li><a class="footer__link" href="/terminos-y-condiciones">terminos y condiciones del uso del sitio</a></li>
                    </ul>

                </nav>
            </div>
            <div class="footer__box">
                <div class="footer__paragraph">
                    <p>2023- Aventura Sin Fin - Todos los derechos reservados /</p>
                    <p>Legajo: xxxxxx - Cuit: x-xxxxxxxx-x - Disp. xxxx/xx -</p>
                    <p>AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA</p>
                    <p>en su caracter de organo de control de la ley Nro. 26.326</p>
                    <p>tiene la atribución de atender las denuncias y reclamos</p> 
                    <p>que interpongan quienes resulten afectados en sus derechos</p>
                    <p>por incumplimiento de las normas vigentes en materia de</p>
                    <p>protección de datos personales.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>