<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <title>Aventura Sin Fin | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="contenedor">
            <section class="banner">
                <div class="destinos">
                    <p>Ida y vuelta</p>
                    <p>Solo ida</p>
                    <p>Multidestino</p>
                </div>
                <article class="vuelos">
                    <div class="argentina">
                        <p class="bue">BUE</p>
                        <p>Buenos Aires, Arg</p>
                    </div>
                    <div class="brasil">
                        <p class="rio">RIO</p>
                        <p>Rio de janeiro, Brasil</p>
                    </div>
                </article>
                <article class="formas">
                    <div class="calendario">
                        <div class="ida">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Ida</p>
                        </div>
                        <div class="vuelta">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Vuelta</p>
                        </div>
                    </div>
                    <div class="pasajeros">
                        <p class="pasajero">1 Pasajero</p>
                        <p>Económica</p>
                    </div>
                </article>
                <label>
                    <input type="checkbox" name="hobby" value="Pescar">Ver fechas más baratas
                </label>
                <div class="contenedor-boton">
                    <button>Buscar</button>
                </div>
            </section>
        </div>
    </main>
</body>
</html>