<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8ce6316b2f.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>

    <header class="header">
        <div class="nav__container">
            <img src="/img/logoLetrasBlancaModPixeles.png" class="header__logo" alt="">
            <label for="menu" class="nav__lavel">
               <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="menu" class="nav__input"> 
        
            <div class="nav__menu">
                 <ul>
                    <li><a href="">Vuelos</a><i class="fas fa-plane" ></i></li>
                    <li><a href="">Hoteles</a><i class="fas fa-hotel" id="hotel"></i></li>
                    <li><a href="">Alquileres</a><i class="fas fa-home" id="alquiler"></i></li>
                    <li><a href="">Paquetes</a><i class="fas fa-briefcase" id="paquetes"></i></li>
                 </ul>
                 <hr>
                 <ul>
                 <li><a href="">Carrito</a><i class="fas fa-cart-arrow-down"></i></li>
                 <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>

                 </ul>
                 <img src="/img/logo_avion.png" class="logo__avion" alt="">
            </div>
        </div>
    </header>

    <main class="main__login">
        <main class="main__login">
            <div class="container__box">
                <a href="/"><img src="/img/logo_avion.png" class="logo" alt=""></a>
                <section>
                    <div class="form-box">
                        <div class="form-value">
                            <form action="/">
                                <h2>Ingresá a tu cuenta</h2>
                                <div class="inputbox">
                                    <label for="">Email</label>
                                    <input type="email" required>
                                </div>
                                <div class="inputbox">
                                    <label for="">Contraseña</label>
                                    <input type="password" required>

                                </div>
                                <div class="forget__checkbox">
                                    <label for=""><input type="checkbox">Recuerdame</label>
                                    <a href="#"></a>
                                </div>

                                <div class="botton__login">
                                    <button>Ingresar</button>
                                </div>

                                <div class="bottons__login--register">
                                    <button>Olvidé mi contraseña</button>
                                </div>

                                <div class="login">
                                    <p> Al registrarte aceptás los <a href="">Términos y condiciones</a></p>
                                    <h4>¡Chau contraseña! Ingresá con un sólo paso.</h4>
                                    <ul>
                                        <li><i class="fab fa-facebook"></i><a href="">Ingresar con Facebook</a></li>
                                        <li><i class="fab fa-google"></i><a href="">Ingresar con Google</a></li>
                                    </ul>
                                </div>
                                <div class="login">
                                    <p href=""> ¿Aún no tenes cuenta? Accedé a
                                        mejores beneficios, registrandote.</p>
                                </div>

                                <div class="bottons__login--register">
                                    <button> <a href="/register">Registrate</a></button>
                                </div>


                            </form>


                        </div>

                    </div>
                </section>
            </div>

        </main>

</body>
</html>