<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo_avion.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <title>Aventura Sin Fin | Product Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="nav__container">
            <a href="/"><img src="/img/logoLetrasBlancaModPixeles.png" class="header__logo" alt=""></a>
            <label for="menu" class="nav__lavel">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="menu" class="nav__input"> 
            <div class="nav__menu">
                <ul>
                    <li><a href="">Vuelos</a><i class="fas fa-plane" ></i></li>
                    <li><a href="">Hoteles</a><i class="fas fa-hotel" id="hotel"></i></li>
                    <li><a href="">Alquileres</a><i class="fas fa-home" id="alquiler"></i></li>
                    <li><a href="">Paquetes</a><i class="fas fa-briefcase" id="paquetes"></i></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="/shoppingCart">Carrito</a><i class="fas fa-cart-arrow-down"></i></li>
                    <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
                <img src="/img/logo_avion.png" class="logo__avion" alt="">
            </div>
        </div>
    </header>
    <!-- cuerpo de pagina -->
    <main class="product__container">
        <div class="product__image">
            <img src="img\RiberaMarDelPlata.png" alt="La Ribera">
        </div>
        <div class="product__details">
            <div class="product__title-rating">
                <h1 class="product__title">RIBERA SUR HOTEL</h1>
                <div class="product__rating">
                    ★★★★<span class="product__star-gray">★</span> 
                </div>
            </div>
            <p class="product__description">Ubicado en el barrio histórico de San Telmo, el hotel Ribera Sur cuenta con 16 habitaciones pensadas para el descanso de sus huéspedes. El Hotel combina diseño minimalista y contemporáneo con atención personalizada. Sobresale su estilo, diseño y sencillez. Ideal para viajes de negocios o para explorar la ciudad. ¡Los invitamos a conocerlo!</p>
            <p class="product__additional-info">Habitaciones cuádruples / Varios tipos de camas.</p>
            <p class="product__additional-info product__price"><strong>Desde $33.600 por noche.</strong></p> 
            <button class="product__button">RESERVAR</button>
        </div>
    </main>
    <!-- footer -->
    <footer class="main-footer">
        <div class="footer__section">
            <h2 class="footer__title">Sobre nosotros</h2>
            <p class="footer__txt">¡Bienvenido a Aventuras Sin Fin! Somos tu puerta de entrada a un mundo de emocionantes experiencias y viajes inolvidables. En Aventuras Sin Fin, creemos que cada viaje es una oportunidad para descubrir, aprender y crecer. Nuestra misión es brindarte destinos fascinantes, guías expertos y servicios excepcionales para que vivas las mejores aventuras de tu vida.</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Ubicacion:</h2>
            <p class="footer__txt">Calle Viajeros Intrépidos, N° 123 Capital Federal</p>
            <h2 class="footer__title">Contacto</h2>
            <p class="footer__txt">Celular : +54 9 11345-67890</p>
            <p class="footer__txt">Email : info@aventurassinfin.com</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Enlaces rapidos</h2>
            <a href="#" class="footer__link">Vuelos</a>
            <a href="#" class="footer__link">Hoteles</a>
            <a href="#" class="footer__link">Alquileres</a>
            <a href="#" class="footer__link">Paquetes</a>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Suscríbete a nuestras ofertas</h2>
            <p class="footer__txt">Al suscribirse a nuestra lista de correo, siempre recibirá nuestras últimas noticias y actualizaciones.</p>
            <input type="email" class="footer__input" placeholder="Ingrese email">
        </div>
        <p class="copy">© Aventuras Sin Fin. Todos los derechos reservados</p>
    </footer>
</body>
</html>

