<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/62badcedc9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <header class="header">
        <div class="nav__container">
            <a href="/"><img src="/img/logoLetrasBlancaModPixeles.png" class="header__logo" alt=""></a>
            <label for="menu" class="nav__lavel">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="menu" class="nav__input"> 
        
            <div class="nav__menu">
                <ul>
                    <li><a href="">Vuelos</a><i class="fas fa-plane" ></i></li>
                    <li><a href="">Hoteles</a><i class="fas fa-hotel" id="hotel"></i></li>
                    <li><a href="">Alquileres</a><i class="fas fa-home" id="alquiler"></i></li>
                    <li><a href="">Paquetes</a><i class="fas fa-briefcase" id="paquetes"></i></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="/shoppingCart">Carrito</a><i class="fas fa-cart-arrow-down"></i></li>
                    <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
                <img src="/img/logo_avion.png" class="logo__avion" alt="">
            </div>
        </div>
    </header>
    
    <main class="main__register">
        <div class="caja__container">
            <div class="div__container">
                <h1>Creá tu cuenta</h1>
                <form action="">
                    <div class="div__form">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" required="" pattern="[A-Z , a-z]">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" required="" pattern="[A-Z , a-z]">
                        <label for="email">Correo</label>
                        <input type="email" id="email" required="" pattern="[A-Z , a-z,@,1-9999]">
                        <p>Acedé con el mail que realizaste la compra</p>
                        <label for="contraseña">Contraseña</label>
                        <input type="password" id="contraseña" required="" pattern="[A-Z , a-z,@,1-9999]">
                        <p>Usá entre 8 y 16 carácteres.</p>
                    </div>
                    <div class="boton__registro">
                        <button type="submit"><a href="/">Registrate</a></button>
                    </div>

                </form>

                <div class="registrer__redsocial">
                    <p>Al registrarte aceptas los <a href="">Terminos y condiciones</a></p>
                    <h4>¡Chau contraseña! Ingresa con un solo paso.</h4>
                    <ul>
                        <li><i class="fab fa-facebook"></i><a href="">Ingresa con Facebook</a></li>
                        <li><i class="fab fa-google"></i><a href="">Ingresa con Google</li>
                    </ul></a>
                </div>
                <div class="cuenta">
                    <p>¿Ya tenés cuenta?</p>
                    <button><a href="/login">Ingresar</a></button>
                </div>
            </div>
        </div>
    </main>
<!-- footer -->
    <footer class="main-footer">
        <div class="footer__section">
          <h2 class="footer__title">Sobre nosotros</h2>
          <p class="footer__txt">¡Bienvenido a Aventuras Sin Fin! Somos tu puerta de entrada a un mundo de emocionantes experiencias y viajes inolvidables. En Aventuras Sin Fin, creemos que cada viaje es una oportunidad para descubrir, aprender y crecer. Nuestra misión es brindarte destinos fascinantes, guías expertos y servicios excepcionales para que vivas las mejores aventuras de tu vida.</p>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">Ubicacion:</h2>
          <p class="footer__txt">Calle Viajeros Intrépidos, N° 123 Capital Federal</p>
          <h2 class="footer__title">Contacto</h2>
          <p class="footer__txt">Celular : +54 9 11345-67890</p>
          <p class="footer__txt">Email : info@aventurassinfin.com</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Enlaces rapidos</h2>
            <a href="#" class="footer__link">Vuelos</a>
            <a href="#" class="footer__link">Hoteles</a>
            <a href="#" class="footer__link">Alquileres</a>
            <a href="#" class="footer__link">Paquetes</a>
          </div>
        <div class="footer__section">
          <h2 class="footer__title">Suscríbete a nuestras ofertas</h2>
          <p class="footer__txt">Al suscribirse a nuestra lista de correo, siempre recibirá nuestras últimas noticias y actualizaciones.</p>
          <input type="email" class="footer__input" placeholder="Ingrese email">
        </div>
        <p class="copy">© Aventuras Sin Fin. Todos los derechos reservados</p>
      </footer>

</body>

</html>