:root{
    --colorPrincipal: #1D4D8B;
    --colorSecundario: #FEBB02;
    --tipografia: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--tipografia);
}
