@media(max-width:767px) {

  .logo__avion {
    position: relative;
    left: 110px;
    width: 100px;

  }

  header {
    background-color: #1D4D8B;
  }

  .header__logo {
    margin-top: 10px;
    width: 200px;
  }

  .nav__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1px;
  }



  .nav__lavel {
    background-color: rgb(255, 126, 79);
    color: #ffff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .nav__input {
    display: none;

  }

  .nav__lavel {
    cursor: pointer;
  }

  .nav__menu ul li {
    margin: 10px;
  }

  .nav__menu ul li i {
    display: none;
  }

  .nav__menu ul {
    width: 50px;

  }

  hr {
    height: 5px;
    margin: 30px;
    background-color: rgb(255, 126, 79);
    border: none;
  }

  .nav__menu {
    background-color: grey;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 0.5ms;
    transition: all 1s ease-in-out;
  }

  .nav__input:checked+.nav__menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  }

  .nav__menu ul li:hover {
    border-bottom: 2px solid white;
    border-radius: 2px;
    transition: 0.2s;
  }

}

@media (min-width:768px) {
  .logo__avion {
    display: none;
  }

  header {
    background-color: #1D4D8B;
  }

  .header__logo {
    width: 200px;
  }

  .nav__lavel,
  .nav__input,
  hr {
    display: none;
  }

  .nav__container {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    gap: 50px;

  }

  .nav__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 40px;
  }

  .nav__menu ul li {
    margin: 5px;
    list-style: none;
    display: inline;
    float: left;
    font-size: 12px;
  }

  .nav__menu ul li i {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 3px;
    padding-left: 15px;
    color: white;

  }

  #alquiler {
    padding-left: 25px;
  }

  #paquetes {
    padding-left: 20px;
  }



}

@media (min-width:1024px) {
  header {
    background-color: #1D4D8B;
  }

  .header__logo {

    width: 250px;
  }

  .nav__lavel,
  .nav__input,
  hr {
    display: none;
  }

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    width: 100%;
    gap: 40px;
  }

  .nav__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }

  .nav__menu ul li {
    margin: 5px;
    list-style: none;
    display: inline;
    float: left;
  }

  .nav__menu ul li i {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 3px;
    padding-left: 15px;
    color: white;

  }

  #alquiler {
    padding-left: 25px;
  }

  #paquetes {
    padding-left: 20px;
  }

}