/* Estilos generales */
body.login {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card-header {
    background-color: #1259c3;
    color: #ffffff;
    padding: 12px;
    border-bottom: none;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 20px;
}

.form-label {
    font-weight: bold;
    color: #343a40;
}

.form-control {
    border: 1px solid #ced4da;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-dark {
    background-color:#FEBB02;
    border: none;
}

/* Ajustes de responsividad */
@media (max-width: 576px) {
    .card {
        box-shadow: none;
        background-color: transparent;
    }    
}

/* Estilos generales */
body.login {
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilos generales */
body.login {
    background-image: url("/images/jong-marshes-79mNMAvSORg-unsplash.jpg"); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 576px) {
    .container {
        padding: 10px; /* Ajusta el padding para dispositivos móviles */
    }
}