<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./partials/head',{
        title : 'Login'
    }) %>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    <!-- cuerpo de pagina -->
    <main class="main__login">
        <div class="container__box">
            <section>
                <div class="form-box">
                    <div class="form-value">
                        <form method="post">
                            <h2 class="h2">Ingresá a tu cuenta</h2>
                            <div class="inputbox">
                                <label for="">Email</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="inputbox">
                                <label for="password">Contraseña</label>
                                <input type="password" id="password" name="password">
                            </div>
                            <div class="forget__checkbox">
                                <input type="checkbox" value="" id="remember" name="remember">
                                <label for="remember">Recuerdame</label>
                            </div>
                            <div class="botton__login">
                                <button type="submit">Ingresar</button>
                            </div>
                            <div class="bottons__login--register">
                                <button>Olvidé mi contraseña</button>
                            </div>
                            <div class="login">
                                <p> Al registrarte aceptás los <a class="terminos" href="">Términos y condiciones</a></p>
                                <h4>¡Chau contraseña! Ingresá con un sólo paso.</h4>
                                <ul>
                                    <li><i class="fab fa-facebook"></i><a href="">Ingresar con Facebook</a></li>
                                    <li><i class="fab fa-google"></i><a href="">Ingresar con Google</a></li>
                                </ul>
                            </div>
                            <div class="login">
                                <p href=""> ¿Aún no tenes cuenta? Accedé a mejores beneficios, registrandote.</p>
                            </div>
                            <div class="bottons__login--register">
                                <button> <a href="/users/register">Registrate</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>