<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('partials/head) %>
<body>
    <!-- header -->
    <%- include('partials/header) %>
    <!-- cuerpo de pagina -->
    <main class="product__container">
        <div class="product__image">
            <!-- imagen desde el css -->
        </div>
        <div class="product__details">
            <div class="product__title-rating">
                <h1 class="product__title">RIBERA SUR HOTEL</h1>
                <div class="product__rating">
                    ★★★★<span class="product__star-gray">★</span> 
                </div>
            </div>
            <p class="product__description">Ubicado en el barrio histórico de San Telmo, el hotel Ribera Sur cuenta con 16 habitaciones pensadas para el descanso de sus huéspedes. El Hotel combina diseño minimalista y contemporáneo con atención personalizada. Sobresale su estilo, diseño y sencillez. Ideal para viajes de negocios o para explorar la ciudad. ¡Los invitamos a conocerlo!</p>
            <p class="product__additional-info">Habitaciones cuádruples / Varios tipos de camas.</p>
            <p class="product__additional-info product__price"><strong>Desde $33.600 por noche.</strong></p> 
            <button class="product__button">RESERVAR</button>
        </div>
    </main>
    <!-- footer -->
    <%- include('partials/footer) %>
</body>
</html>

