<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title: 'Profile'
    }) %>
<body>
        <!-- header -->
        <%- include('./partials/header') %>


            <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>