<% if (category === "hotel") { %>
    <div class="swiper-slide">
        <img src="/images/<%= image || 'card1.png' %>"
            alt="">
        <div class="card-description">
            <div class="card-title">
                <h4>Descripción</h4>
            </div>
            <div class="card-text">
                <p><%= description %></p>
            </div>
            <div class="card-link">
                <a href="/products/detail/<%= id %>">Ver más</a>
            </div>
        </div>
    </div>
<% } %>
