<% if (products.id === products.hotel) { %>
    <div class="swiper-slide" style="height: 400px;">
        <img src="/images/<%= image || 'card1.png' %>"
            alt="">
        <div class="card-description">
            <div class="card-title">
                <h4><%= name %></h4>
            </div>
            <div class="card-text">
                <p class="small" style=" display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;"><%= description %></p>
            </div>
            <div class="card-link">
                <a href="/products/detail/<%= id %>">Ver más</a>
            </div>
        </div>
    </div>
<% } %>
