<% if (products.id === products.countrie) { %>
    <div class="swiper-slide">
        <img src="/images/<%= image || 'card1.png' %>"
            alt="">
        <div class="card-description">
            <div class="card-title">
                <h4><%= name %></h4>
            </div>
            <div class="card-text">
                <p style=" display: -webkit-box;-webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;"><%= description %></p>
            </div>
            <div class="card-link">
                <a href="/products/detail/<%= id %>">Ver más</a>
            </div>
        </div>
    </div>
<% } %>