<div class="col col-lg-12">
    <div class="card">
        <img src="/images/card1.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Ribera Sur Hotel</h5>
            <ul class="card-text text-white">
                <li>Ubicación: Ciudad del Lago, Costa del Azahar, Argentina.</li>
                <li>Distancia a la playa: A solo 200 metros de la playa principal de Ciudad del Lago.</li>
                <li>Precio: Desde $150 por noche.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card2.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">The Betsy Hotel</h5>
            <ul class="card-text text-white">
                <li>Ubicación: Bahía Dorada, Costa Esmeralda, Argentina.</li>
                <li>Distancia a la playa: A solo 50 metros de la hermosa playa de Bahía Dorada.</li>
                <li>Precio: Desde $250 por noche.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card3.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Vincci The Mint</h5>
            <ul class="card-text text-white">
                <li>Ubicación: Villa del Mar, Costa del Sol, Argentina.</li>
                <li>Distancia a la playa:  A menos de 100 metros de la playa principal de Villa del Mar.</li>
                <li>Precio: Desde $180 por noche.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card4.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Hotel tres Reyes</h5>
            <ul class="card-text text-white">
                <li>Ubicación: Ciudad del Lago, Costa del Azahar, Argentina.</li>
                <li>Distancia a la playa: A solo 200 metros de la playa principal de Ciudad del Lago.</li>
                <li>Precio: Desde $150 por noche.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card5.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Argentino Hotel</h5>
            <ul class="card-text text-white">
                <li>Ubicación: Villa Real, Costa del Rey, Argentina.</li>
                <li>Distancia a la playa: A solo 500 metros de la hermosa playa de Villa Real</li>
                <li>Precio: Desde $200 por noche.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>