<% if (products.id === products.hotelId) { %>
    <div class="swiper-slide">
        <img src="/images/<%= products.image || 'card1.png' %>"
            alt="">
        <div class="card-description">
            <div class="card-title">
                <h4><%= products.hotel %></h4>
            </div>
            <div class="card-text">
                <p><%= products.description %></p>
            </div>
            <div class="card-link">
                <a href="/products/detail/<%= products.id %>">Ver más</a>
            </div>
        </div>
    </div>
<% } %>
