<div class="col col-lg-12">
    <div class="card">
        <img src="/images/card6.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Hotel Selva Adentro - Posadas, Misiones</h5>
            <ul class="card-text text-white">
                <li>Precio: Desde $1500 por noche.</li>
                <li>Piezas: 20 habitaciones.</li>
                <li>Incluye: Desayuno continental, acceso a la piscina, actividades al aire libre y Wi-Fi gratuito.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>                        
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card7.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Hotel Colonial Plaza - Salta, Argentina</h5>
            <ul class="card-text text-white">
                <li>Precio: Desde $2500 por noche.</li>
                <li>Piezas: 35 habitaciones.</li>
                <li>Incluye: Desayuno buffet, estacionamiento privado y servicio de conserjería.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>                        
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card8.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Los Cipreses - Bariloche, Argentina</h5>
            <ul class="card-text text-white">
                <li>Precio: Desde $3500 por noche.</li>
                <li>Piezas: 10 cabañas.</li>
                <li>Incluye: Desayuno casero, acceso a senderos y actividades al aire libre.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>                        
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card9.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Hotel Boutique La Casona - Córdoba, Argentina</h5>
            <ul class="card-text text-white">
                <li>Precio: Desde $1800 por noche.</li>
                <li>Piezas: 12 habitaciones.</li>
                <li>Incluye: Desayuno a la carta, servicio de té y café todo el día y acceso al jardín interior.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>                        
    </div>
</div>
<div class="col">
    <div class="card">
        <img src="/images/card10.png" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white">Hotel Viñas del Valle - Mendoza, Argentina</h5>
            <ul class="card-text text-white">
                <li>Precio: Desde $2800 por noche.</li>
                <li>Piezas: 18 habitaciones.</li>
                <li>Incluye: Desayuno buffet, visita a bodegas cercanas y degustación de vinos.</li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>
    </div>
</div>