<header class="header">
    <div class="nav__container">
        <a href="/"><img src="/images/logoLetrasBlancaModPixeles.png" class="header__logo" alt=""></a>
        <label for="menu" class="nav__lavel">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="menu" class="nav__input"> 
        <div class="nav__menu">
            <ul>
                <li><a href="">Vuelos</a><i class="fas fa-plane" ></i></li>
                <li><a href="">Hoteles</a><i class="fas fa-hotel" id="hotel"></i></li>
                <li><a href="">Paquetes</a><i class="fas fa-briefcase" id="paquetes"></i></li>
            </ul>
            <hr>
            <ul>
                <li><a href="/users/shoppingCart">Carrito</a><i class="fas fa-cart-arrow-down"></i></li>
                <li><a href="/users/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
            </ul>
        </div>
    </div>
</header> 