<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row carrusel-desktop">
            <div class="col-md-6">
                <img src="/images/tokio.jpg" width="100%" alt="Ciudad" />
            </div>
            <div class="col-md-6">
                <img src="/images/tokio.jpg" width="100%" alt="Ciudad" />
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row carrusel-desktop">
            <div class="col-md-6">
                <img src="/images/francia.jpg" width="100%" alt="Ciudad" />
            </div>
            <div class="col-md-6">
                <img src="/images/francia.jpg" width="100%" alt="Ciudad" />
            </div>
        </div>
    </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon iconos-flecha" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon iconos-flecha" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
