<div class="slider" id="slider">
    <div class="slider__section">
        <img src="/images/miami.jpg" alt="" class="slider__img" />
        <div class="slider__content">
            <h3 class="slider__title">Estados Unidos</h3>
            <p class="slider__txt">Vuelos desde $82.000</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
    </div>
    <div class="slider__section">
        <img src="/images/francia-banner.jpg" alt="" class="slider__img" />
        <div class="slider__content">
            <h3 class="slider__title">Francia</h3>
            <p class="slider__txt">Vuelos desde $142.000</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
    </div>
    <div class="slider__section">
        <img src="/images/italia-banner.jpg" alt="" class="slider__img" />
        <div class="slider__content">
            <h3 class="slider__title">Italia</h3>
            <p class="slider__txt">Vuelos desde $182.000</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
    </div>
    <div class="slider__section">
        <img src="/images/japon-banner.jpg" alt="" class="slider__img" />
        <div class="slider__content">
            <h3 class="slider__title">Japon</h3>
            <p class="slider__txt">Vuelos desde $122.000</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
    </div>
</div>

<div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
